# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\SCHOOL STUFF\LBY CPD2\LBYCPD2 PROJECT TERM 2\Expenditure Management Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
